<div class="card">
  <div class="card-body">
    <div>
      <ul>
        <li *ngIf="errors['x'].length > 0">Please enter a value for <b>x</b> that is between 2 and 1,000,000,000.</li>
        <li *ngIf="errors['y'].length > 0">
          Make sure the value of <b>y</b> is greater than or equal to <b>0</b> and less than <b>x</b>.
        </li>
        <li *ngIf="errors['n'].length > 0">
          Enter a value for <b>n</b> that is between the value of <b>y</b> and 1,000,000,000.
        </li>
      </ul>
    </div>
    <form novalidate (ngSubmit)="calculate()">
      @for (row of inputRows; track $index) {
      <!-- inputs row -->
      <div class="row pb-3 mb-3 justify-content-center" [class.border-bottom]="inputRows.length > 1">
        <!-- inputs -->
        <div class="row col row-gap-2">
          <div class="col-12 col-sm-4">
            <div class="input-group">
              <span class="input-group-text" id="x">x</span>
              <input
                [(ngModel)]="row.x"
                name="x{{ $index }}"
                type="text"
                class="form-control"
                [class.is-invalid]="errors['x'].includes($index)"
                aria-label="X"
                aria-describedby="x"
                required
              />
            </div>
          </div>
          <div class="col-12 col-sm-4">
            <div class="input-group">
              <span class="input-group-text" id="y">y</span>
              <input
                [(ngModel)]="row.y"
                name="y{{ $index }}"
                type="text"
                class="form-control"
                [class.is-invalid]="errors['y'].includes($index)"
                aria-label="y"
                aria-describedby="y"
                required
              />
            </div>
          </div>
          <div class="col-12 col-sm-4">
            <div class="input-group">
              <span class="input-group-text" id="n">n</span>
              <input
                [(ngModel)]="row.n"
                name="n{{ $index }}"
                type="text"
                class="form-control"
                [class.is-invalid]="errors['n'].includes($index)"
                aria-label="n"
                aria-describedby="n"
                required
              />
            </div>
          </div>
        </div>
        @if (inputRows.length > 1) {
        <!-- remove row -->
        <div class="row col-auto">
          <button (click)="deleteRow($index)" type="button" class="btn btn-dark"><i class="bi bi-trash3"></i></button>
        </div>
        }
      </div>
      }

      <!-- add case -->
      <div class="d-grid mb-4 mx-auto">
        <button
          (click)="addCase()"
          [disabled]="inputRows.length >= 10"
          type="button"
          class="btn btn-dark border-primary border-0 border-bottom border-2 bg-gradient"
        >
          <i class="bi bi-plus-lg me-2"></i> Add case
        </button>
        <small class="text-end text-secondary-emphasis">Max. 10</small>
      </div>

      <!-- submit -->
      <div class="d-grid gap-2 d-md-flex justify-content-md-end d-md-block">
        <button type="submit" class="btn btn-primary">Calculate</button>
      </div>
    </form>
  </div>
</div>
