<section class="main-content p-3">
  <div class="jumbotron text-center mt-lg-4 mb-4 title">
    <h1 class="display-3">Maximum Non-Negative</h1>
    <p class="lead d-none d-md-block m-0">
      Given <span class="math-char text-primary">x</span>, <span class="math-char text-primary">y</span> and
      <span class="math-char text-primary">n</span> find the maximum possible integer from
      <span class="math-char text-primary">0</span> to <span class="math-char text-primary">n</span> that has the
      remainder <span class="math-char text-primary">y</span> modulo <span class="math-char text-primary">x</span>.
    </p>
    <p class="d-block d-md-none m-0">
      Given <span class="math-char text-primary">x</span>, <span class="math-char text-primary">y</span> and
      <span class="math-char text-primary">n</span> find the maximum possible integer from
      <span class="math-char text-primary">0</span> to <span class="math-char text-primary">n</span> that has the
      remainder <span class="math-char text-primary">y</span> modulo <span class="math-char text-primary">x</span>.
    </p>
  </div>
  <div class="align-items-center container d-flex flex-column mt-lg-5"></div>
</section>
